{% extends "master.html" %}

{% load static %}

{% block titulo %}
	{{ my_title }}
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{% endblock %}

{% block contenido %}
	<div class="row">
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="textarea">Texto</label>
				<textarea class="form-control" id="entradaTexto" rows="3" name="palabraClave"></textarea>
			</div>
			<button class="btn btn-primary mb-12 text-center" id="buscarbtn" type="submit" name="buscar">Buscar</button>
		</form>
	</div>
	<div class="row">
		<h2 class="text-center">TEXTO TRANSFORMADO</h2>
		<div class="col-xs-12 blanco textnegro font-peque text-justify">
			<section>
				<p>{{ texto }}</p>
			</section>
		</div>
	</div>
	<div class="row">
		<h2 class="col-xs-12 text-center">TEXTO PLANO</h2>
		<div class="col-xs-12 gris textnegro font-peque text-justify">
			<section class="row">
				<p class="col-xs-12" id="textoPlano"></p>
			</section>
		</div>
	</div>
	<!-- Intro -->
	<div class="row">
		<!-- /Intro-->
		<div class="col-xs-12 blanco textnegro">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="text-center">Lectura de <b>DATOS</b> del <b>RDF</b></h3>
					<p>Visualización de los Datos recolectados del RDF.</p>
				</div>
				<div class="col-xs-12">
					<section class="datatablas">
						<table id="example" class="display" width="100%">
							<thead>
								<tr class="success">
									<th>Sujeto</th>
									<th>Predicado</th>
									<th>Objeto</th>
								</tr>
							</thead>
							<tbody class="searchable">
								{% for tripletas in datos %}
									<tr>	
										{% for tripleta in tripletas %}
											<td>{{ tripleta }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr class="info">
									<th>Sujeto</th>
									<th>Predicado</th>
									<th>Objeto</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</div>
		</div>
		<div class="col-xs-12 textblanco">		
			<div class="row">
				<div id="palabras"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/Javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/Javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/wordcloud.js"></script>


	<script type="text/javascript">
	    jQuery(document).ready(function ($) {
	    	$(document).ready(function() {
				$('#example').DataTable();
				/* 
				setInterval(function(){
					$valor = $('#entradaTexto').val();
					$.ajax({
						method:"POST",
						url: '{% url "ajaxPalabra" %}',
						data: {
							'valor': $valor,
						},
						success:function(datos){
							console.log("Buscando...", datos);
							var mensaje = datos.mensaje;
							var data = datos.texto;
							console.log("DAtos", data);
							console.log("mensaje", mensaje);
							console.log("Cargando...");
							document.getElementById("textoPlano").innerHTML = data;
							document.getElementById("entradaTexto").innerHTML = "";
						}
					});
					// $("#entradaTexto").text("");
				}, 5000);
				 */
				// var mensaje = JSON.parse(datos.mensaje);
				// var data = jQuery.parseJSON(datos.texto);			
			});
	    });
	</script> 
{% endblock %}
